<template>
    <div class="SiderPlate">
      <div class="Sider">
        <ul>
          <li><router-link to="/">Home</router-link></li>
          <li><router-link to="/Matches">Matches</router-link></li>
          <li><router-link to="/Register">Register</router-link></li>
          <li><router-link to="/Login">Login</router-link></li>
          <li><router-link to="/Reviews">Player reviews</router-link></li>
        </ul>
      </div>
    </div>
</template>

<script>
export default {
  name: "Header"
}
</script>
<router-link to="/Login">Account</router-link>
<style scoped>
  .header{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    }
  .header a{
    color: #fff;
    padding-right: 5px;
    text-decoration: none;

  }
  .SiderPlate {
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #06A2E3;
    width: 20%;

  }
  .Sider ul {
    list-style-type: none;
    margin-top: 10%;
    padding: 0;
    width: 20%;
    background-color: #06A2E3;
    position: fixed;
    height: 85%;
    overflow: auto;
  }

  .Sider li a {
    margin-top: 5%;
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 32px;
  }

  .Sider li a:hover:not(.active) {
    background-color: #000000;
    color: white;
  }


</style>