<template>
  <div id="app">
    <h1>Latest News</h1>
    <News/>
  </div>
</template>

<script>


import News from "../components/News";

export default {
  name: 'Home',
  components: {
    News

  },

  methods: {

  },


}
</script>

<style>
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
.btn{
  display: inline-block;
  border: none;
  background: #555;
  color:#fff;
  padding: 7px 20px;
  cursor: pointer;
}
.btn:hover{
  background: #666;
}
</style>
