<template>
  <div class="row">
    <div class="loginContainer">
      <h1>Sign In</h1>
      <form v-on:submit.prevent="submitAction">
        <div class="textInputbox">
          <input type="text" id="username" v-model="form.username" placeholder="Username" required>
        </div>
        <div class="textInputbox">
          <input type="password" id="password" v-model="form.password" placeholder="Password" >
        </div>
        <button type="submit" class="btn" id="login-button">Log in</button>
      </form>
    </div>
  </div>


</template>

<script>
import Swal from 'sweetalert2'
import axios from 'axios'
import router from "../router";
import home  from "../views/Home";
export default {
  name: "Login",
  data(){
    return {
      form: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    submitAction(){
      //Retrieve JSON WEB TOKEN
      axios.post('http://localhost:8080/authenticate', this.form, {
        headers: {
          'Access-Control-Allow-Origin': '*',
          Authorization: null
        }
      })
          .then(function (response) {
            //SAVE JWT TO LOCAL STORAGE
            localStorage.setItem('userId', response.data.userId);
            localStorage.setItem('token', response.data.token);

            console.log("JWT Token: " + response.data.token + response.data.userId);
            //TRY AND LOG IN WITH JWT AS HEADER
          }).finally(function (response) {
        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Successfully logged in.',
          showConfirmButton: false,
          timer: 1500
        })
        console.log(response)
        console.log("ERROR");
        router.push(home);

      })
          .catch(function (response) {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'Login has failed.',
            })
            console.log(response);
            console.log("login failed");
          })

    }
  }
}
</script>
<style scoped>


body{
  background-color: black;
  color: black;
}


.loginContainer{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
}
.loginContainer h1{
  float: left;
  font-size: 40px;
  text-align: center;
  padding: 13px 0;

}
.textInputbox{
  width: 100%;
  overflow: hidden;
  font-size: 24px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #06A2E3;
  border: 1px solid #06A2E3;
  border-radius: 12px;
}
.textInputbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textInputbox input{
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
  border: none;
  outline: none;
  background: none;
}
.btn{
  width: 100%;
  background: #06A2E3;
  border: 4px solid #06A2E3;
  border-radius: 12px;
  color: black;
  padding: 5px;
  font-size: 18px;
  margin: 12px 0;
}

</style>


