<template>
  <div class="row">
    <div class="loginContainer">
      <h1>Create Review</h1>
      <form v-on:submit.prevent="submitAction">
        <div class="textInputbox">
          <input type="text" id="playername" v-model="form.playerName" placeholder="Playername" required>
        </div>
        <div class="textInputbox">
          <input type="text" id="reviewerName" v-model="form.reviewerName" placeholder="ReviewerName" required>
        </div>
        <div class="textInputbox">
          <input type="text" id="ReviewText" v-model="form.reviewText" placeholder="Review text" required>
        </div>
        <button type="submit" class="btn" id="login-button">Create</button>
      </form>
    </div>
  </div>


</template>

<script>

import axios from 'axios'
import Swal from "sweetalert2";
import router from "../router";

import Review from "@/views/Review";
export default {
  name: "Login",
  data(){
    return {
      form: {
        playerName: '',
        reviewText: '',
        reviewerName:''
      }
    }
  },
  methods: {
    submitAction(){
            axios.post('http://localhost:8080/reviews/create', this.form, {
        headers: {
          'Access-Control-Allow-Origin': '*',
          Authorization: null
        }
      }).then(function (response) {
        if (response.status==200)
          Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Successfully created.',
            showConfirmButton: false,
            timer: 1500
          })
        router.push(Review);
      })
    }
  },
}

</script>
<style scoped>


body{
  background-color: black;
  color: black;
}


.loginContainer{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
}
.loginContainer h1{
  float: left;
  font-size: 40px;
  text-align: center;
  padding: 13px 0;

}
.textInputbox{
  width: 100%;
  overflow: hidden;
  font-size: 24px;
  padding: 8px 0;
  margin: 8px 0;
  border: 1px solid #06A2E3;
  border-radius: 12px;
}
.textInputbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textInputbox input{
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
  border: none;
  outline: none;
  background: none;
}
.btn{
  width: 100%;
  background: #06A2E3;
  border: 4px solid #06A2E3;
  border-radius: 12px;
  color: black;
  padding: 5px;
  font-size: 18px;
  margin: 12px 0;
}

</style>


