<template>
  <div id="app">
    <div class="head">
    </div>
    <router-link to="/ReviewCreation">Create review</router-link>
    <div class="fixtureContainer" v-for="review of reviews" :key="review.id">
      <div class="reviewContainer">
        <h1>Writer name:</h1><br><h2>{{review.reviewerName}}</h2><br>
        <h1>Player name :</h1><br><h2>{{review.playerName}}</h2><br>
        <h1>Review:</h1><br><h2>{{review.reviewText}}</h2><br>
        <button v-on:click="HandleDelete(review.id)" class="btn" id="delete-button">Delete</button>
        <button v-on:click="HandleAlter(review.id)" class="btn" id="alter-button">alter</button>
      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios'
import ReviewAlter from "@/views/ReviewAlter";
import router from "@/router";

// import Swal from "sweetalert2";
// import router from "../router";
// import Login from "./Login";
export default {
  name: "Review",
  data() {
    return {
      reviews: [{
        id: 0,
        reviewerName:"",
        playerName:"",
        reviewText:""

      }],

    }
  },
  async created() {
    axios.get("http://localhost:8080/reviews", {
      headers: {
        'Access-Control-Allow-Origin': '*',
        Authorization: null
      }
    }).then(res=>this.reviews=res.data)
        .finally(() => console.log('Data loading complete'))
  },

  methods: {
    // eslint-disable-next-line no-unused-vars
    HandleDelete(id){

          axios.delete('http://localhost:8080/reviews/' + id, {
            headers: {
              'Access-Control-Allow-Origin': '*'
            }
          })
      },
    HandleAlter(id){
      localStorage.setItem("ReviewID",id);
      console.log(localStorage.getItem("ReviewID"));
      router.push(ReviewAlter);
    }
    },

  }

</script>
<style scoped>
.reviewContainer{
  float: left;
  display: inline;
}
.reviewContainer h1{

  display: inline;
  font-size: 25px;
}
.reviewContainer h2{

  display: inline;
  font-size: 25px;
  font-weight: lighter;
}
.fixtureContainer{
  width: 100%;
  height: 5%;
  margin-left: 25%;
  margin-right: auto;
  overflow: auto;
  text-align: left;
  float: left;
  margin-top: 3%;
;
}
body{
  background-color: black;
  color: black;
}


.loginContainer{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
}
.loginContainer h1{
  float: left;
  font-size: 40px;
  text-align: center;
  padding: 13px 0;

}
.textInputbox{
  width: 100%;
  overflow: hidden;
  font-size: 24px;
  padding: 8px 0;
  margin: 8px 0;
  border: 1px solid #06A2E3;
  border-radius: 12px;
}
.textInputbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textInputbox input{
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
  border: none;
  outline: none;
  background: none;
}
.btn{
  width: 100%;
  background: #06A2E3;
  border: 4px solid #06A2E3;
  border-radius: 12px;
  color: black;
  padding: 5px;
  font-size: 18px;
  margin: 12px 0;
}

</style>


