<template>
  <div id="app">
    <div class="head">
    <h1>Past 10 matches</h1>
    </div>
    <div class="fixtureContainer" v-for="fixture of fixtures" :key="fixture.id">
      <div class="teamContainer">
        <div class="teamLogo">
          <img v-bind:src="fixture.homeTeam.logo" v-bind:alt=fixture.homeTeam.team_name width="100" height="100">
        </div>
        <div class="teamName">
          <h2>{{fixture.homeTeam.team_name}}</h2>
        </div>
      </div>
      <div class="scoreContainer">
        <h2>{{fixture.goalsHomeTeam}} - {{fixture.goalsAwayTeam}}</h2>

      </div>
      <div class="teamContainer">
        <div class="teamLogo">
          <img v-bind:src="fixture.awayTeam.logo" v-bind:alt=fixture.awayTeam.team_name width="100" height="100">
        </div>
        <div class="teamName">
          <h2>{{fixture.awayTeam.team_name}}</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import axios from "axios";

export default {
  name: 'Home',
  components: {

  },
  data(){
    return{
      fixtures:[{
        fixture_id: 157385,
        league_id: 524,
        league: {
          name: "Premier League",
          country: "England",
          logo: "https://media.api-sports.io/football/leagues/39.png",
          flag: "https://media.api-sports.io/flags/gb.svg"
        },
        event_date: "2020-07-26T15:00:00+00:00",
        event_timestamp: 1595775600,
        firstHalfStart: 1595775600,
        secondHalfStart: 1595779200,
        round: "Regular Season - 38",
        status: "Match Finished",
        statusShort: "FT",
        elapsed: 90,
        venue: "Emirates Stadium",
        referee: "Mike Dean, England",
        homeTeam: {
          team_id: 42,
          team_name: "Arsenal",
          logo: "https://media.api-sports.io/football/teams/42.png"
        },
        awayTeam: {
          team_id: 38,
          team_name: "Watford",
          logo: "https://media.api-sports.io/football/teams/38.png"
        },
        goalsHomeTeam: 3,
        goalsAwayTeam: 2,
        score: {
          halftime: "3-1",
          fulltime: "3-2",
          extratime: null,
          penalty: null
        }}],


    }
  },
  async created(){
        axios.get("https://api-football-v1.p.rapidapi.com/v2/fixtures/league/524/last/10",{
      headers:{
        'x-rapidapi-key': '4c2d030089msh97d4934ebf19cacp132410jsn226b1200bc47',
        'x-rapidapi-host': 'api-football-v1.p.rapidapi.com'},
          params: {timezone: 'Europe/London'}
    }).then(
        res=>this.fixtures=res.data.api.fixtures,
        )
      .catch(err=>console.error(err));
  }


}
</script>

<style scoped>
.fixtureContainer{
  width: 100%;
  height: 5%;
  margin-left: 33%;
  margin-right: auto;
  overflow: auto;
  text-align: center;
  float: left;
;
}
.teamContainer{
margin-left:2%;
  float: left;
  width: 10%;
}
.teamLogo{

}
.teamName{

}
.scoreContainer{
  margin:  4%;
  float: left;
  width: 10%;
  display: inline-block;
}
.head{
margin-left: 7%;
}

</style>
