<template>
  <div class="newsarticle">
    <H1>Real Madrid: Odegaard closing in on Arsenal loan move</H1><br>
    <H3>Despite signalling his desire to rejoin Real Sociedad on loan, Real Madrid Martin Odegaard looks set to move to Premier League club Arsenal instead.</H3><br>
    <img alt="" src="../assets/odegard.jpg">
    <h3>The prospects of Martin Odegaard returning to Real Sociedad appear to be fading, with the Real Madrid midfielder now looking more likely to join Premier League club Arsenal on loan until the end of the season.</h3><br>
  <h2>Odegaard asks for loan move amid limited Real Madrid game time </h2><br>
    <h3>Odegaard, 22, this week asked Madrid to let him leave on loan after becoming frustrated at his lack of first-team opportunities under head coach Zinedine Zidane, who left the the Norwegian out of the squad for Wednesday’s shock Copa del Rey defeat to third-tier club Alcoyano.

      Since his summer return to Madrid after a successful season-long loan spell at Real Sociedad last term, Odegaard has been restricted to just nine appearances in all competitions.</h3><br>
    <h2>Odegaard keen on San Sebastián return but Real Madrid, Real Sociedad after different deals</h2><br>
    <h3>Although Odegaard had signalled a desire to go back to San Sebastián, Madrid chiefs prefer the option of sending him to Arsenal, who already have another Bernabéu player, Dani Ceballos, on loan. Real Sociedad also suspect Odegaard’s representatives have pressed their client to accept a move to the Emirates Stadium.

      While conversations between Real Sociedad and Real Madrid have been fluid, no formal negotiations have taken place and at no point have the Txuri-urdin been anywhere near a deal to re-sign the youngster.

      Madrid have not accepted any of the proposals put forward by the Basques, who even floated the possibility of negotiating a purchase option for Odegaard. La Real also suggested a loan running until the end of next season. Los Blancos are not interested in either option.

      La Real have also considered whether to accept a five-month loan until the summer without the possibility of making the move permanent, but feel they can’t justify the price of the deal - Odegaard's stint at Reale Arena last term cost them around 4m euros - if there is no prospect of it being anything other than a short-term transfer.</h3>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.newsarticle{
  width: 50%;
  height: 5%;
  margin-left: 30%;
  margin-right: auto;
  overflow: auto;
  float: left;
  text-align: left;
  margin-top:2%;
  margin-bottom: 2%;
  color: black;

;

}
.newsarticle h1{
  font-size: 50px;
  line-height: 52px;
  margin: 0 0 10px;
}
.newsarticle h2{
  font-size: 28px;
  line-height: 40px;
  font-weight: bolder;
  color: black;
  margin: 35px 0 20px;
}
.newsarticle h3{
  color: black;
  margin-bottom: 15px;
}
.newsarticle img{
 width: 920px;
  height: 500px;
}
</style>
